* , *::after , *::before{
    margin: 0;padding: 0;box-sizing: border-box;
   
}
body{
    font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style-type: none;
}